@model List<BasketViewModel>
@{ 
    int? totalCount = Model?.Count;
    decimal totalPrice = 0;

    foreach (var item in Model)
    {
        totalPrice += item.CarPrice;
    }

}
<div class="cart-menu">
    <div class="cart-header">
        <div>
            <span class="menu-count" data-favorite-count="@totalCount">@totalCount</span>
            <span class="menu-title">car</span>
        </div>
        <div class="d-flex">
            <span class="menu-price-currency">£</span>
            <span class="menu-price-count">@totalPrice.ToString("#,00")</span>
        </div>
    </div>
    <div class="product-menu">
        <ul>
            @foreach (var item in Model)
            {
                <li class="product-list">
                    <div>
                        <a href="#">
                            <img src="~/assets/images/@item.CarPosterImage"
                                 class="img"
                                 alt="" />
                        </a>
                        <a class="deleteFav deleteimage" data-id="@item.CarId" asp-action="deletefavorites" asp-controller="car" asp-route-id="@item.CarId">
                            <span class="mini-cart-item-delete">
                                <i class="bi bi-x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="item-details">
                        <span class="item-count">1</span>
                        <span>x</span>
                        <span class="item-price">£@item.CarPrice.ToString("#,00")</span>
                        <p class="item-name">@item.CarName</p>
                    </div>
                </li>
            }

        </ul>

        <div class="cart-buttons">
            <a asp-action="Cart" asp-controller="Car">View Cart</a>
            <a asp-action="Checkout" asp-controller="Car">Checkout</a>
        </div>
    </div>
</div>
