
@model CarViewModel
@{
    ViewData["Title"] = "Create";
    List<City> cities = Model?.Cities;
    List<Brand> brands = Model?.Brands;
    List<FuelType> fuelTypes = Model?.FuelTypes;
    List<Transmission> transmissions = Model?.Transmissions;
    List<Gearbox> gearboxes = Model?.Gearboxes;
    List<Feature> features = Model?.Features;
    List<CarStatus> carStatuses = Model?.CarStatuses;
    List<CarType> carTypes = Model?.CarTypes;
    List<CarColor> carColors = Model?.CarColors;
    Car car = Model?.Car;
}

<div class="container-fluid">
    <h1>Edit</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Price" style="font-size:14px">Price</label>
                <input asp-for="Price" class="form-control" placeholder="Price">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="MotorPower" style="font-size:14px">MotorPower</label>
                <input asp-for="MotorPower" class="form-control" placeholder="MotorPower">
                <span class="text-danger" asp-validation-for="MotorPower"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="HorsePower" style="font-size:14px">HorsePower</label>
                <input asp-for="HorsePower" class="form-control" placeholder="HorsePower">
                <span class="text-danger" asp-validation-for="HorsePower"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="DoorCount" style="font-size:14px">DoorCount</label>
                <input asp-for="DoorCount" class="form-control" placeholder="DoorCount">
                <span class="text-danger" asp-validation-for="DoorCount"></span>
            </div>
           
            <div class="form-group col-md-6">
                <label asp-for="Mileage" style="font-size:14px">Mileage</label>
                <input asp-for="Mileage" class="form-control" placeholder="Mileage">
                <span class="text-danger" asp-validation-for="Mileage"></span>
            </div>
        </div>
        <div class="form-row col-12 p-3">
            <div class="form-group ">
                <label asp-for="Description" style="font-size:14px"> Car Description</label>
                <textarea  asp-for="Description" class="form-control p-4" placeholder="Description" style="font-size:12px"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-3">   
                <label style="font-size:14px">City</label>
                <select asp-for="CityId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var city in cities)
                    {
                        <option selected="@(city.Id == car.CityId?"selected":null)"  value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px">Color</label>
                <select asp-for="CarColorId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var carColor in carColors)
                    {
                        <option selected="@(carColor.Id == car.CarColorId?"selected":null)"  value="@carColor.Id">@carColor.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px"> CarType</label>
                <select asp-for="CarTypeId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var carType in carTypes)
                    {
                        <option selected="@(carType.Id == car.CarTypeId?"selected":null)"  value="@carType.Id">@carType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px">Status</label>
                <select asp-for="CarStatusId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var carStatus in carStatuses)
                    {
                        <option selected="@(carStatus.Id == car.CarStatusId?"selected":null)"  value="@carStatus.Id">@carStatus.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label style="font-size:14px">Brand</label>
                <select asp-for="BrandId" class="form-control brand">
                    <option>Select Make</option>
                    @foreach (var brand in brands)
                    {
                        <option selected="@(brand.Id == car.BrandId?"selected":null)"  value="@brand.Id">@brand.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px">Model</label>
                <select asp-for="ModelId" class="form-control modelSelect">
                    <option>Select first brand</option> 
                    <option selected value="@car.Model?.Id">@car.Model?.Name</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px"> FuelType</label>
                <select asp-for="FuelTypeId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var fuelType in fuelTypes)
                    {
                        <option selected="@(fuelType.Id == car.FuelTypeId?"selected":null)" value="@fuelType.Id">@fuelType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px">Transmission</label>
                <select asp-for="TransmissionId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var transmission in transmissions)
                    {
                        <option selected="@(transmission.Id == car.TransmissionId ? "selected" : null) " value="@transmission.Id">@transmission.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label style="font-size:14px">GearBox</label>
                <select asp-for="GearboxId" class="form-control">
                    <option>Select Make</option>
                    @foreach (var gearbox in gearboxes)
                    {
                        <option selected="@(gearbox.Id == car.GearboxId?"selected": null)" value="@gearbox.Id">@gearbox.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FeatureIds" style="font-size:14px">CarFeatures</label>
                <select asp-for="FeatureIds" class="form-control" id="FeatureIds">
                   @foreach (var item in Model?.Features)
                   {
                       <option value="@item.Id">@item.Name</option>
                   }
                </select>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="DateOfProduct" style="font-size:14px">DateOfProduct</label>
                <input asp-for="DateOfProduct" class="form-control" placeholder="ProductDate">
                <span class="text-danger" asp-validation-for="DateOfProduct"></span>
            </div>


        </div>

        <div class="form-row col-12">
            <div class="form-group col-6 ">
                <label asp-for="PosterImage" style="font-size:14px"> Car Poster Image</label>
                <input asp-for="PosterImage" class="form-control" placeholder="PosterFile">
                <span class="text-danger" asp-validation-for="PosterImage" ></span>
            </div>
             <div class="img-box" style="display: inline-block; position: relative;margin-right:8px">
                <input type="hidden" name="PosterImageId" value="@Model.Car.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Id" />
                <img style="max-width:150px" src="~/assets/images/@Model.Car.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" alt="Alternate Text" />
                <span class="remove-img-box" style="position: absolute; top: -10px; right: -5px; cursor:pointer">
                    <i class="fa fa-times" style="color: red; font-size: 24px;"></i>
                </span>
            </div>
        </div>
        <div class="form-row col-12 mt-5">
            <div class="form-group col-6 ">
                <label asp-for="ImageFiles" style="font-size:14px">Car Images</label>
                <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
                <span class="text-danger" asp-validation-for="ImageFiles"></span>
            </div>
            <div class="d-flex justify-content-between flex-wrap">
                @foreach (var file in Model.Car.CarImages.Where(x => x.IsPoster == false))
                {
                    <div class="col-4">
                        <div class="img-box" style="display: inline-block; position: relative;margin-right:8px">
                            <input type="hidden" name="ProductImageIds[]" value="@file.Id" />
                            <img style="max-width:150px" src="~/assets/images/@file.Image" alt="Alternate Text" />
                            <span class="remove-img-box" style="position: absolute; top: -10px; right: -5px; cursor:pointer">
                                <i data-id="@file.Id" class="fa fa-times remove_image" style="color: red; font-size: 24px;"></i>
                            </span>
                        </div>
                    </div>

                }
            </div>
            
        </div>
        <div class="form-group mt-5" >
            <button type="submit" class="btn btn-primary" style="font-size:16px">Save</button>
        </div>

    </form>
</div>


<script>
    $('.brand').on('change', function (e) {
        $('.modelSelect').empty();
        e.preventDefault();
        let url = "@Url.Action("GetModelByBrand", "Car")";
        var id = $(this).val();
        let data = {
            BrandId: id
        };


        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            responseType: "json",
            url: url,
            data: JSON.stringify(data),
            success: function (resp) {
                let modelss = resp.models;
                $('.modelSelect').append(`<option selected="selected" value="">Sec</option>`);
                modelss.forEach(function (model) {
                    $('.modelSelect').append(`<option value="${model.id}">${model.name}</option>`);
                })
            }
        });

    })


    $(".remove_image").on("click", function (e) {
        e.preventDefault();
        let url = "@Url.Action("DeleteImageByCar", "Car")";
        var id = $(this).attr('data-id'); 
        let data = {
            ImageId: id
        };


        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            responseType: "json",
            url: url,
            data: JSON.stringify(data),
            success: function (resp) { 
            }
        });
    })








</script>

