@inject UserManager<AppUser> userManager
@model BlogDetailViewModel
@{
    ViewData["Title"] = "Detail";
    var member = userManager.GetUserAsync(User).Result;
    Blog blog = Model?.BLog;
}



<main>
    <section class="blog-detail">
        <div class="detail-item">
            <div class="detail-img">
                <img src="~/assets/images/@Model.BLog.Image" alt="" data-id="@Model.BLog.Id">
            </div>
            <div class="detail-info">
                <h2>@Model.BLog.Name</h2>
                <p class="date-content">
                    <i class="far fa-clock"></i>
                    <span>@Model.BLog.PostDate.ToString("MMMM dd, yyyy")</span>
                </p>
            </div>
            <div class="detail-description">
                <p>@Model.BLog.Description</p>
            </div>
            <div></div>
        </div>

        <div class="detail-comments">
            <div class="comment-header">
                <h3>@Model.BLog.Comments.Count thoughts on “@Model.BLog.Name”</h3>
            </div>
            @foreach (var item in Model?.BLog.Comments)
            {
                <div class="comment-list">
                    <div class="user-img col-1">
                            <img src="~/assets/images/@item.AppUser.Image" alt="">
                    </div>
                    <div class="comment-info">
                        <div>
                            <strong>@item.AppUser.Fullname</strong>
                            <span>- @item.PostDate.ToString("MMM dd, yyyy")</span>
                        </div>

                        <p>@item.Description</p>

                    </div>
                </div>
            }

            @if (member != null)
            {
                <div class="reply-part">
                    <h3>Leave Reply</h3>
                    

                    <form asp-action="CreateBlogComment" asp-controller="Blog">
                        <textarea asp-for="CommentViewModel.Description" placeholder="Comment" required></textarea>
                        <input value="@member.Fullname" type="text" placeholder="Name *" required>
                        <input value="@member.Email" type="email" placeholder="Email *" required>
                        <input asp-for="CommentViewModel.BlogId" type="text" value="@blog.Id" style="visibility:hidden" />
                        <button type="submit">Post Comment</button>
                    </form>

                </div>
            }



        </div>
    </section>



    <section class="features-section">
        <div class="features d-flex">
            @foreach (var item in Model.Advertisings)
            {
                <div class="feature-element col-3 d-flex justify-content-evenly">
                    <div class="feature-icon">
                        <img src="~/assets/images/@item.Logo" alt="" />
                    </div>
                    <div>
                        <p class="feature-first-p">@item.Title</p>
                        <p class="feature-second-p">@item.Description</p>
                    </div>
                </div>
            }


        </div>
    </section>

    <section class="newsletter-section">
        <h5>NEWSLETTER</h5>
        <h4>GET NOTIFIED OF ANY UPDATES!</h4>
        <div class="form-elements">
            <form action="email">
                <input type="email"
                       name="email"
                       placeholder="Your email address"
                       id="email" />
                <button type="submit" class="subs-btn">
                    <span><i class="bi bi-envelope-fill envelope"></i></span>
                    Subscribe
                </button>
            </form>
        </div>
    </section>

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>

</main>