@model BlogViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="blog-section">
        <div class="left-sidebar col-3">
            <div class="search-bar">
                <form action=" ">
                    <input type="text" placeholder="Search for" />
                    <div>
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="posts-list">
                <h2>Popular Posts</h2>
                @foreach (var blog in Model.Blogs)
                {
                    <div class="posts-item">
                        <div>
                            <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">
                                <img src="./assets/images/@blog.Image" alt="" />
                            </a>
                        </div>
                        <p><a  asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">@blog.Name</a></p>
                        <span>@blog.PostDate.ToString("MMMM dd, yyyy")</span>
                    </div>
                }

             
            </div>
        </div>
        <div class="main-blogs col-8">
            @foreach (var blog in Model.Blogs)
            {

                <div class="blog-item">
                    <div class="blog-img">
                        <img src="./assets/images/@blog.Image" alt="" />
                    </div>
                    <h2><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">@blog.Name</a></h2>
                    <p class="date-content">
                        <i class="far fa-clock"></i>
                        <span>@blog.PostDate.ToString("MMMM dd, yyyy ")</span>
                    </p>

                    <p class="blog-mini-info">
                    @blog.Description
                    </p>
                    <div class="button">
                        <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id" class="detail-btn">Read More</a>
                    </div>
                </div>
            }
            
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (ViewBag.SelectedPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                    }
                    @if (ViewBag.SelectedPage != ViewBag.TotalPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
        </div>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            @foreach (var item in Model.Advertisings)
            {
                <div class="feature-element col-3 d-flex justify-content-evenly">
                    <div class="feature-icon">
                        <img src="./assets/images/@item.Logo" alt="" />
                    </div>
                    <div>
                        <p class="feature-first-p">@item.Title</p>
                        <p class="feature-second-p">@item.Description</p>
                    </div>
                </div>

            }
         
        </div>
    </section>
    <section class="newsletter-section">
        <h5>NEWSLETTER</h5>
        <h4>GET NOTIFIED OF ANY UPDATES!</h4>
        <div class="form-elements">
            <form action="email">
                <input type="email"
                       name="email"
                       placeholder="Your email address"
                       id="email" />
                <button type="submit" class="subs-btn">
                    <span><i class="bi bi-envelope-fill envelope"></i></span>
                    Subscribe
                </button>
            </form>
        </div>
    </section>

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

