@model ModelViewModel
@{
    ViewData["Title"] = "Index";
    int order = (ViewBag.SelectedPage - 1) * 8;
}

<div class="container" style="width:100%;">
    <div class="d-flex justify-content-between align-items-center pt-5">
        <div class="col-6">
            <h1>Models</h1>

        </div>
        <div class="col-2">
            <a asp-action="create" class="btn btn-primary">Create</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var modelitem in Model?.Models)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td scope="row">@modelitem.Name</td>
                    <td scope="row">@modelitem.Brand?.Name</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@modelitem.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="deletefetch" asp-route-id="@modelitem.Id" class="btn btn-danger btn-item-delete">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(ViewBag.SelectedPage==1?"disabled":"")">
                    <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                }

                <li class="page-item @(ViewBag.SelectedPage==ViewBag.TotalPage?"disabled":"")">
                    <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


