@model HomeViewModel 
@{
    ViewData["Title"] = "AdvancedSearch";


    List<City> cities = Model?.Cities;
    List<Brand> brands = Model?.Brands;
    List<FuelType> fuelTypes = Model?.FuelTypes;
    List<Transmission> transmissions = Model?.Transmissions;
    List<Gearbox> gearboxes = Model?.Gearboxes;
    List<Feature> features = Model?.Features;
    List<CarStatus> carStatuses = Model?.CarStatuses;
    List<CarType> carTypes = Model?.CarTypes;
    List<CarColor> carColors = Model?.CarColors;
    List<Slider> sliders = Model?.Sliders;
    List<Model> models = Model?.Models;
    Car carItem = Model?.Car;
}


<main>
    <section class="advanced-search">
        <h3>Advanced Search</h3>
        <form asp-action="Index" asp-controller="Car">
            <div class="search-product">
                <div class="left-side col-5">
                    <label class="col-4 brand">Brand</label>
                    <select asp-for="FilterVM.BrandId" class=" form-control col-6 brand" style="width:66%">
                        <option>Select Brand</option>
                        @if (brands != null)
                        {
                            @foreach (var brand in brands)
                            {
                                <option value="@brand.Id">@brand.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="right-side col-5">
                    <label class="col-4">City</label>
                    <select asp-for="FilterVM.CityId" class="col-8 sel-example form-control">
                        <option>Select City</option>
                        @if (cities != null)
                        {
                            @foreach (var city in cities)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Model</label>
                    <select asp-for="FilterVM.ModelId" class="sel-example form-control col-8 modelSelect">
                        <option>Select first brand</option>
                    </select>
                </div>
                <div class="right-side col-5">
                    <label class="col-4">FuelType</label>
                    <select asp-for="FilterVM.FuelTypeId" class="col-8 sel-example form-control">
                        <option>Select FuelType</option>
                        @if (fuelTypes != null)
                        {
                            @foreach (var fuelType in fuelTypes)
                            {
                                <option value="@fuelType.Id">@fuelType.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label class="col-4">Car Type</label>
                    <select asp-for="FilterVM.CarTypeId" class="sel-example form-control col-8">
                        <option>Select Car Type</option>
                        @if (carTypes != null)
                        {
                            @foreach (var carType in carTypes)
                            {
                                <option value="@carType.Id">@carType.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="right-side col-5">
                    <label class="col-4">Transmission</label>
                    <select asp-for="FilterVM.TransmissionId" class="col-8 sel-example form-control">
                        <option>Select Transmission</option>
                        @if (transmissions != null)
                        {
                            @foreach (var transmission in transmissions)
                            {
                                <option value="@transmission.Id">@transmission.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label class="col-4">CarColor</label>
                    <select asp-for="FilterVM.CarColorId" class="sel-example form-control col-8">
                        <option>Select Car Color</option>
                        @if (carColors != null)
                        {
                            @foreach (var carColor in carColors)
                            {
                                <option value="@carColor.Id">@carColor.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="right-side col-5">
                    <label class="col-4">GearBox</label>
                    <select asp-for="FilterVM.GearboxId" class="col-8 sel-example form-control">
                        <option>Select Gearbox</option>
                        @if (gearboxes != null)
                        {
                            @foreach (var gearbox in gearboxes)
                            {
                                <option value="@gearbox.Id">@gearbox.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Mileage</label>
                    <div class="range col-8">
                        <label for="" class="col-2">min.</label>
                        <input  asp-for="FilterVM.MileageFrom" type="text" class="col-4" />
                        <label for="" class="col-2">maks.</label>
                        <input asp-for="FilterVM.MileageTo" type="text" class="col-4" />
                    </div>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Date Of Product </label>
                    <div class="range col-8">
                        <label asp-for="FilterVM.DateOfProductFrom" class="col-2">min.</label>
                        <input type="number" class="col-4" />
                        <label asp-for="FilterVM.DateOfProductTo" class="col-2">maks.</label>
                        <input type="number" class="col-4" />
                    </div>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Price</label>
                    <div class="range col-8">
                        <label asp-for="FilterVM.PriceFrom" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label asp-for="FilterVM.PriceTo" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Motor Power, sm3 </label>
                    <div class="range col-8">
                        <label asp-for="FilterVM.MotorPowerFrom" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label asp-for="FilterVM.MotorPowerTo" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
            </div>
            <h4>Car Features</h4>
            <div class="car-tags">
                @if (features != null)
                {
                    @foreach (var feature in features)
                    {
                        <div class="tag-item col-3">
                            <input type="checkbox"  class="col-2" />
                            <label for="" class="col-6">@feature.Name</label>
                        </div>

                    }
                }
            </div>
            
                <h4>Axtarisin neticeleri</h4>
                <div class="search-result">
                    <div class="d-flex col-5">
                        <label for="" class="col-4">Cesidleme</label>
                        <select name="" id="" class="sel-example form-control col-6">
                            <option value="">Tarixe gore</option>
                            <option value="">Evvel Ucuz</option>
                            <option value="">Evvel bahali</option>
                            <option value="">Yurus</option>
                            <option value="">Buraxilis ili</option>
                        </select>
                    </div>
                    <div class="d-flex col-5">
                        <label for="" class="col-4">Avtomobilleri goster</label>
                        <select name="" id="" class="sel-example form-control col-6">
                            <option value="">Butun</option>
                            <option value="">Islenmis</option>
                            <option value="">Yeni</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="search-btn">Elanlari goster</button>
</form>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $('.brand').on('change', function (e) {
        console.log("salam");
        $('.modelSelect').empty();
        e.preventDefault();
        let url = "@Url.Action("GetModelByBrand", "Home")";
        var id = $(this).val();
        let data = {
            BrandId: id
        };


        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            responseType: "json",
            url: url,
            data: JSON.stringify(data),
            success: function (resp) {
                let modelss = resp.models;
                $('.modelSelect').append(`<option selected="selected" value="">Choose Model</option>`);
                modelss.forEach(function (model) {
                    $('.modelSelect').append(`<option value="${model.id}">${model.name}</option>`);
                })
            }
        });

    })
    </script>


</main>
