@model HomeViewModel
@inject LayoutService service
@{
    ViewData["Title"] = "Index";
    List<Car> cars = Model?.Cars;
    Setting setting = service.GetSetting();
    List<Car> expensiveCars = Model?.ExpensiveCars;
    List<Car> cheapestCars = Model?.CheapestCars;

    List<BasketViewModel> favitems = service.GetFavorites();


    List<City> cities = Model?.Cities;
    List<Brand> brands = Model?.Brands;
    List<FuelType> fuelTypes = Model?.FuelTypes;
    List<Transmission> transmissions = Model?.Transmissions;
    List<Gearbox> gearboxes = Model?.Gearboxes;
    List<Feature> features = Model?.Features;
    List<CarStatus> carStatuses = Model?.CarStatuses;
    List<CarType> carTypes = Model?.CarTypes;
    List<CarColor> carColors = Model?.CarColors;
    List<Slider> sliders = Model?.Sliders;
    List<Model> models = Model?.Models;
    Car carItem = Model?.Car;

}


<!-- Slider AREA START -->
<section class="slider-section">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            @foreach (var slider in Model?.Sliders)
            {
                <div class="item">
                    <img src="~/assets/images/@slider.Image"
                         alt="Car Image"
                         style="width: 100%" />
                </div>
            }


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="filter-part">
        <form asp-action="Index" asp-controller="Car">
            <label for="">FIND YOUR RIGHT CAR</label>
            <br />
            <br />

            <select asp-for="FilterVM.BrandId" class="form-control brand">
                <option>Select Brand</option>
                @if (brands != null)
                {
                    @foreach (var brand in brands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                }

            </select>

            <select asp-for="FilterVM.ModelId" class="sel-example form-control modelSelect">
                <option>Select first brand</option>

            </select>

            <div class="d-flex justify-content-between mt-3">
                <label asp-for="FilterVM.Price" class="col-5">Maximum Price</label>
                <input asp-for="FilterVM.Price" type="text" class="col-5" style="outline:none" />
            </div>

            <div class="d-flex justify-content-between mt-3">
                <label asp-for="FilterVM.DateOfProduct"class="col-5">Minimum Year</label>
                <input asp-for="FilterVM.DateOfProduct"class="col-5" style="outline:none" />

            </div>

            <div class="d-flex justify-content-between mt-3">
                <label asp-for="FilterVM.Mileage" class="col-5">Maximum Mileage(km)</label>
                <input asp-for="FilterVM.Mileage" type="text" class="col-5" style="outline:none" />
            </div>

            <button type="submit" class="btn btn-primary button">
                Search Vehicle
            </button>
            <div class="main-search">
                <a asp-action="advancedsearch" asp-controller="home" class="advanced-search">
                    Advanced Search
                </a>
            </div>
        </form>
    </div>

</section>

<section class="banner-section">
    <div class="car-types">
        <div class="cars-slide">
            <div class="car-header">
                <span> Browse By Car Type</span>
            </div>
        </div>
        <div class="car-pics">
            @foreach (var carType in Model.CarTypes)
            {
                <div>
                    <a asp-action="Index" asp-controller="Car" asp-route-filterVm.CarTypeId="@carType.Id"><img src="~/assets/images/@carType.Image" alt="" /></a>
                    <p class="car-names">@carType.Name</p>
                </div>
            }


        </div>
    </div>

    <div class="images d-flex justify-content-around">
        <div class=" col-5">
            <img src="~/assets/images/2101.jpg" alt="" />
        </div>
        <div class=" col-5">
            <img src="~/assets/images/960.jpg" alt="" />
        </div>


    </div>

    <div class="deals">
        <div class="deals-header">
            <div class="col-4 first-element">
                <h2>Cheapest Cars</h2>
            </div>

            <div class="timer col-3">
                <ul id="countdown">
                    <li>
                        <span class="days">00</span>
                        <p class="days_text">Days</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                        <span class="hours">00</span>
                        <p class="hours_text">Hrs</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                        <span class="minutes">00</span>
                        <p class="minutes_text">Mins</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                        <span class="seconds">00</span>
                        <p class="seconds_text">Secs</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="deals-footer">
            @foreach (var car in cheapestCars)
            {
                <div class="car-item col-3 @(car.CarSituationId == 0 ? "sold-car": "")">
                    <div class="item-info">
                        <img src="~/assets/images/@car.CarImages.FirstOrDefault(x=>x.IsPoster==true).Image" style="height:180px" alt="" />
                        <span>@car.CarStatus?.Name</span>
                        <p><a href="">@car.Brand?.Name @car.Model?.Name</a></p>
                    </div>
                    <div class="seperator"></div>
                    <div class="item-price">
                        <p>$ @car.Price.ToString("0.##")</p>
                    </div>

                    <div class="other-info d-flex justify-content-evenly">
                        <div class="infos">
                            <i class="bi bi-speedometer2"></i>
                            <p>@car?.Mileage</p>
                        </div>
                        <div class="infos">
                            <i class="bi bi-gear-fill"></i>
                            <p>@car?.Gearbox?.Name</p>
                        </div>
                        <div class="infos">
                            <div><i class="bi bi-calendar3"></i></div>
                            <p>@car.DateOfProduct.Year</p>
                        </div>

                    </div>
                    <div class="hover-items">
                        <div class="rhombus col-6">
                            <div>
                                <a asp-action="detail" asp-controller="car" asp-route-id="@car.Id"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                        <div class="rhombus col-6">
                            <div>
                                <a data-id="@car.Id" asp-action="AddToBasket" asp-controller="Home" asp-route-id="@car.Id" class="favorite"><i class="fas fa-shopping-cart "></i></a>
                            </div>
                        </div>

                    </div>
                    @if (car.CarSituationId == 0)
                    {
                        <div class="sold-pic">
                            <img src="~/assets/images/sold.png" alt="" />
                        </div>
                    }

                </div>
            }


        </div>
    </div>
</section>

<section class="testimonial-section">
    <div class="slideshow-container">
        @foreach (var comment in Model?.Comments)
        {
            <div class="mySlides">
                <div>
                    <img src="~/assets/images/@comment.AppUser?.Image" alt="" />
                </div>
                <p class="desc">
                    @comment.Description
                </p>
                <p class="author"><span>@comment.AppUser?.Fullname</span></p>
            </div>
        }

        <div class="dot-container">
            <span class="dot active" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
</section>

<section class="best-seller-section">
    <div class="deals">
        <div class="deals-header">
            <div class="col-4 first-element">
                <h2>VERY EXPENSIVE CARS</h2>
            </div>
        </div>
        <div class="deals-footer">
            @foreach (var car in expensiveCars)
            {

                <div class="car-item col-3">
                    <div class="item-info">
                        <img src="~/assets/images/@car.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" alt="" />
                        <span>@car.CarStatus.Name</span>
                        <p><a href="">@car.Brand.Name @car.Model.Name</a></p>
                    </div>
                    <div class="seperator"></div>
                    <div class="item-price">
                        <p>$ @car.Price.ToString("0.##")</p>
                    </div>

                    <div class="other-info d-flex justify-content-evenly">
                        <div class="infos">
                            <i class="bi bi-speedometer2"></i>
                            <p>@car.Mileage</p>
                        </div>
                        <div class="infos">
                            <i class="bi bi-gear-fill"></i>
                            <p>@car.Gearbox.Name</p>
                        </div>
                        <div class="infos">
                            <div><i class="bi bi-calendar3"></i></div>
                            <p>@car.DateOfProduct.Year</p>
                        </div>
                    </div>
                    <div class="hover-items">
                        <div class="rhombus col-6">
                            <div>
                                <a asp-action="detail" asp-controller="car" asp-route-id="@car.Id"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                        <div class="rhombus col-6">
                            <div>
                                <a data-id="@car.Id" asp-action="AddToBasket" asp-controller="Home" asp-route-id="@car.Id" class="favorite"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            }


        </div>
    </div>
</section>

<section class="blog-section">
    <div class="blog-header">
        <div class="col-4 header-element">
            <h2>LATEST BLOG POST</h2>
        </div>
    </div>
    <div class="blog-footer d-flex">
        @foreach (var blog in Model.Blogs)
        {
            <div class="footer-element col-4">
                <div class="blog-img" style="height:44%">
                    <img src="~/assets/images/@blog.Image" alt="" />
                    <span class="blog-date">@blog.PostDate.ToString("yyyy dd MMM")</span>
                </div>
                <div class="pt-4 info">
                    <i class="bi bi-person"></i>
                    <span>Posted by</span>
                    <span class="poster-name">@blog.PostedBy</span>
                    <i class="bi bi-chat chat"></i>
                    <a href="">@blog?.Comments?.Count comments </a>
                </div>
                <div class="blog-name">
                    <h3>
                        <a href="">@blog.Name</a>
                    </h3>
                    <p>
                        @blog.Description
                    </p>
                </div>
            </div>
        }


    </div>
</section>

<section class="brands-section">
    <div class="brands-types">
        <div class="brands-slide">
            <div class="brand-header">
                <span> Popular Brands</span>
            </div>
        </div>
        <div class="brand-pics">
            @foreach (var partner in Model.Partners)
            {
                <div>
                    <a href=""><img src="~/assets/images/@partner.Logo" alt="" /></a>
                </div>
            }
        </div>
    </div>
</section>

<section class="features-section">
    <div class="features d-flex">
        @foreach (var advertising in Model.Advertisings)
        {
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/@advertising.Logo" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">@advertising.Title</p>
                    <p class="feature-second-p">@advertising.Description</p>
                </div>
            </div>
        }

    </div>
</section>



<section class="scroll-section">
    <button type="button"
            class="btn btn-danger btn-floating btn-lg"
            id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $('.brand').on('change', function (e) {
        console.log("salam");
        $('.modelSelect').empty();
        e.preventDefault();
        let url = "@Url.Action("GetModelByBrand", "Home")";
        var id = $(this).val();
        let data = {
            BrandId: id
        };


        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            responseType: "json",
            url: url,
            data: JSON.stringify(data),
            success: function (resp) {
                let modelss = resp.models;
                $('.modelSelect').append(`<option selected="selected" value="">Choose Model</option>`);
                modelss.forEach(function (model) {
                    $('.modelSelect').append(`<option value="${model.id}">${model.name}</option>`);
                })
            }
        });

    })
</script>