@inject UserManager<AppUser> userManager
@model SubmitViewModel
@{
    ViewData["Title"] = "SubmitCar";
    List<City> cities = Model?.Cities;
    List<Brand> brands = Model?.Brands;
    List<FuelType> fuelTypes = Model?.FuelTypes;
    List<Transmission> transmissions = Model?.Transmissions;
    List<Gearbox> gearboxes = Model?.Gearboxes;
    List<Feature> features = Model?.Features;
    List<CarStatus> carStatuses = Model?.CarStatuses;
    List<CarType> carTypes = Model?.CarTypes;
    List<CarColor> carColors = Model?.CarColors;
    Car car = Model?.Car;
    var user = userManager.GetUserAsync(User).Result;
}


@if (TempData["Success"] != null)
{
    if ((bool)TempData["Success"] == true)
    {
        <input type="hidden" id="success" />
    }
    else
    {
        <input type="hidden" id="error" />
    }
}

<main>
    <section class="car-upload">

        <form asp-action="SubmitCar" asp-controller="Home" enctype="multipart/form-data" method="post">
            <div class="account-part">
                <div class="username">
                    <div>
                        <label class="col-4">Username</label>
                        <input value="@user.Fullname" type="text" class="col-8" />
                    </div>
                </div>
                <div class="username email">
                    <div>
                        <label class="col-4">Your Email</label>
                        <input value="@user.Email" type="email" class="col-8" />
                    </div>
                </div>

                <div class="username">
                    <div>
                        <label asp-for="Description" class="col-4">Description</label>
                        <textarea asp-for="Description" class="col-8"></textarea>
                    </div>
                </div>
            </div>
            <div class="car-data">
                <h2>Car Data</h2>
                <div class="car-options">
                    <div>
                        <label class="col-4">Car Status</label>
                        <select asp-for="CarStatusId" class="col-8 ">
                            <option>Select Make</option>
                            @foreach (var carStatus in carStatuses)
                            {
                                <option value="@carStatus.Id">@carStatus.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="col-4">Brand</label>
                        <select asp-for="BrandId" class="brand col-8">
                            <option>Select Make</option>
                            @foreach (var brand in brands)
                            {
                                <option value="@brand.Id">@brand.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="col-4">Model</label>
                        <select asp-for="ModelId" class="col-8 modelSelect">
                            <option>Select first brand</option>
                            <option selected value="@car?.Model?.Id">@car?.Model?.Name</option>
                        </select>
                    </div>
                    <div>
                        <label asp-for="DateOfProduct" class="col-4">DateOfProduct</label>
                        <input asp-for="DateOfProduct" class="form-control col-8" placeholder="ProductDate">
                        <span class="text-danger" asp-validation-for="DateOfProduct"></span>
                    </div>
                    <div>
                        <label asp-for="Price" class="col-4">Price <small>(optional)</small></label>
                        <input asp-for="Price" type="text" class="col-8" />
                    </div>
                    <div>
                        <label asp-for="Mileage" class="col-4">Mileage <small>(optional)</small></label>
                        <input asp-for="Mileage" type="text" class="col-8" />
                    </div>
                    <div>
                        <label asp-for="CarColorId" class="col-4">Color <small>(optional)</small></label>

                        <select asp-for="CarColorId" class="col-8">
                            <option>Select Make</option>
                            @foreach (var carColor in carColors)
                            {
                                <option value="@carColor.Id">@carColor.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="col-4">Car Type<small>(optional)</small></label>
                        <select asp-for="CarTypeId" class="col-8">
                            <option>Select Make</option>
                            @foreach (var carType in carTypes)
                            {
                                <option value="@carType.Id">@carType.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label asp-for="MotorPower" class="col-4">Motor Power<small>(optional)</small></label>
                        <input asp-for="MotorPower" type="text" class="col-8" />
                    </div>
                    <div>
                        <label asp-for="HorsePower" class="col-4">Horse Power<small>(optional)</small></label>
                        <input asp-for="HorsePower" type="text" class="col-8" />
                    </div>
                    <div>
                        <label asp-for="DoorCount" class="col-4">Door Count<small>(optional)</small></label>
                        <input asp-for="DoorCount" type="text" class="col-8" />
                    </div>
                    <div>
                        <label class="col-4">Fuel Type<small>(optional)</small></label>
                        <select asp-for="FuelTypeId" class="col-8">
                            <option>Select Make</option>
                            @foreach (var fuelType in fuelTypes)
                            {
                                <option value="@fuelType.Id">@fuelType.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="col-4">Transmission<small>(optional)</small></label>
                        <select asp-for="TransmissionId" class="col-8 ">
                            <option>Select Make</option>
                            @foreach (var transmission in transmissions)
                            {
                                <option value="@transmission.Id">@transmission.Name</option>
                            }

                        </select>
                    </div>
                    <div>
                        <label class="col-4">Gearbox<small>(optional)</small></label>
                        <select asp-for="GearboxId" class="col-8 ">
                            <option>Select Make</option>
                            @foreach (var gearbox in gearboxes)
                            {
                                <option value="@gearbox.Id">@gearbox.Name</option>
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="car-features">
                <label>Car Features</label>
                <div class="car-tags p-4">
                    <select asp-for="CarFeatureIds" class="col-8 ">

                        @foreach (var feature in features)
                        {
                            <option value="@feature.Id" class="p-3">@feature.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Car City</label>
                    <select asp-for="CityId" class="form-control">

                        @foreach (var city in cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </div>


            </div>
            <div class="d-flex justify-content-between flex-wrap mt-4">
                <div class="form-row col-12">
                    <div class="form-group col-6 ">
                        <label asp-for="PosterImage" style="font-size:14px"> Car Poster Image</label>
                        <input asp-for="PosterImage" class="form-control" placeholder="PosterFile">
                        <span class="text-danger" asp-validation-for="PosterImage"></span>
                    </div>
                    @*<div class="img-box" style="display: inline-block; position: relative;margin-right:8px">
                            <input type="hidden" name="PosterImageId" value="@Model.Car.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Id" />
                            <img style="max-width:150px" src="~/assets/images/@Model.Car.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" alt="Alternate Text" />
                            <span class="remove-img-box" style="position: absolute; top: -10px; right: -5px; cursor:pointer">
                                <i class="fa fa-times" style="color: red; font-size: 24px;"></i>
                            </span>
                        </div>*@
                </div>


                <div class="form-row col-12 mt-5">
                    <div class="form-group col-6 ">
                        <label asp-for="ImageFiles" style="font-size:14px">Car Images</label>
                        <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
                        <span class="text-danger" asp-validation-for="ImageFiles"></span>
                    </div>
                    @*<div class="d-flex justify-content-between flex-wrap">
                            @foreach (var file in Model.Car.CarImages.Where(x => x.IsPoster == false))
                            {
                                <div class="col-4">
                                    <div class="img-box" style="display: inline-block; position: relative;margin-right:8px">
                                        <input type="hidden" name="ProductImageIds[]" value="@file.Id" />
                                        <img style="max-width:150px" src="~/assets/images/@file.Image" alt="Alternate Text" />
                                        <span class="remove-img-box" style="position: absolute; top: -10px; right: -5px; cursor:pointer">
                                            <i data-id="@file.Id" class="fa fa-times remove_image" style="color: red; font-size: 24px;"></i>
                                        </span>
                                    </div>
                                </div>

                            }
                        </div>*@

                </div>



                <div class="form-group col-6">
                    <button type="submit" class="btn btn-primary" style="font-size:16px">Create Car</button>
                </div>
            </div>

        </form>
    </section>




    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>




    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
      $('.brand').on('change', function (e) {
        $('.modelSelect').empty();
        e.preventDefault();
        let url = "@Url.Action("GetModelByBrand", "Home")";
        var id = $(this).val();
        let data = {
            BrandId: id
        };


        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            responseType: "json",
            url: url,
            data: JSON.stringify(data),
            success: function (resp) {
                let modelss = resp.models;
                $('.modelSelect').append(`<option selected="selected" value="">Sec</option>`);
                modelss.forEach(function (model) {
                    $('.modelSelect').append(`<option value="${model.id}">${model.name}</option>`);
                })
            }
        });

    })
</script>

@section Scripts{
    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            if ($("#success").length) {
                toastr["success"]("Your car has been send to the DataBase successfully!")
            }
            else if ($("#error").length) {
                toastr["error"]("Something went wrong!")
            }
        })
    </script>
}
