@model CarViewModel 
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Checkout";
    var currentUser = userManager.GetUserAsync(User).Result;
    var totalCount = 0;
}

<main>
    <section class="order-section">
        <h3>Order Details</h3>
        
        <form asp-action="CreateOrder" asp-controller="Order">
            <div class="items">
                <div class="col-5 items-detail">
                    <label>Full Name</label>
                    <input type="text" readonly  value="@currentUser.Fullname"/>
                </div> 
                <div class="col-5 items-detail">
                    <p>Select Your City</p>
                    <select asp-for="CityId"  class="sel-example form-control" required>
                        <option value="">Select City</option>
                        @foreach (var item in Model.Cities)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }

                       
                    </select>
                </div>
                <div class="col-5 items-detail">
                    <label asp-for="Address">Your address <span>*</span></label>
                    <input asp-for="Address" type="text" placeholder="Enter Your Address" required />
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="col-5 items-detail">
                    <label asp-for="Phone">Your Phone <span>*</span></label>
                    <input asp-for="Phone" type="tel"
                           required
                           placeholder="Enter your phone number" />
                    <span asp-validation-for="Phone"></span>
                </div>

                <div class="col-5 items-detail">
                    <label >Your Email address</label>
                    <input type="email" value="@currentUser.Email" />
                </div>
            </div>

            <div class="checkout-totals">
                <h2>Your Order</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="col-4">Product</th>
                            <th class="col-3">Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                            @foreach (var item in Model.Cars)
                            {
                             <tr>
                                <td>@item.Brand.Name @item.Model.Name</td>
                                <td>£ @item.Price</td>
                             </tr>
                                totalCount += (int)item.Price;
                            }

                        
                    </tbody>
                </table>
                <span style="display:flex; justify-content:right; font-size:16px; margin-top:5px"><b style="margin-right:5px">Total Price:</b>£ @totalCount</span>
                <div class="confirm">
                    <button type="submit"><i class="fas fa-check"></i>Place Order</button>
                </div>
            </div>
        </form>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>

   

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

